/* style.css for treasure */
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: black;
}


#mainMenu{
    width: 1000px;
    height: 800px;

    display: none;
    flex-wrap: wrap;
    align-items: center;  
    justify-content: center;  
    margin: 0px auto;
}

#continueButton{
    display: none;
}


.menuButtons{
    width: 300px;
    height: 80px;

    font-size: 40px;
    border-radius: 20px;
    background-color: black;
    color: white;
}


#canvasDiv{
    width: 1300px;
    height: 800px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    position: relative;

}



#HUD{
    width: 100%;
    height: 100%;     

    user-select: none; 

    color: rgb(255, 255, 255);

    position:absolute;
}

#levelStart{
    width: 100%;
    height: 100%;     

    user-select: none; 

    display: none;
    font-size: 50px;

    z-index: 2;

    color: rgb(255, 255, 255);

    background-color: rgba(0, 0, 0, 0.514);

    position:absolute;
}

#tutorialContainer{
    width: 100%;
    height: 100%;     

    user-select: none; 

    display: none;
    font-size: 25px;

    z-index:3;

    color: rgb(255, 255, 255);

    background-color: rgba(0, 0, 0, 0.863);

    position:absolute;

}

#levelFinish{
    width: 100%;
    height: 100%;     

    user-select: none; 

    display: none;
    font-size: 50px;
    z-index: 2;

    /* margin-left:0; */

    /* background-color: rebeccapurple; */
    color: rgb(255, 255, 255);

    background-color: rgba(0, 0, 0, 0.514);

    position:absolute;
}

#objectiveCompletedContainer{
    display: none;
}

#objectiveName{
    width: 150px;
    text-align: center;
}

#movesRemainingContainer{
   
    height: 20%;
    width: 40%;
}

#objectivesContainer{   
   
    height: 20%;
    width: 40%;
}

#pointsContainer{
   
    height: 50%;
    width: 40%;
}

#stars{
    display: flex;
    width: 40%;
    justify-content: space-around;
    margin-bottom: 5px;
}

.smallText{
    font-size: 15px;
}

.mediumText{
    font-size: 40px;
}

.largeText{
    font-size: 65px;
}

.flex-center-vertical{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;
}

.flex-center-horizontal{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    justify-content: center;
    align-items: center;

    text-align: center;
}

.justify-around{
    justify-content: space-around;
}

.flex-start{
    align-items: flex-start;
}

.marginize-50{
    margin: 50px;
}


.marginize-10{
    margin: 10px;
}

