/* mainStyle.css for cvPage */
@font-face {
    font-family: RobotoMono;
    src: url(PageAssets/Fonts/RobotoMono/RobotoMono-VariableFont_wght.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(PageAssets/Fonts/Roboto/Roboto-Regular.ttf);
}


#mainPageContainer{
    background-color: rgb(46, 46, 46);
}

#mainPageBody{
    width: 1000px;
    margin: 0px auto; 
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    font-family: RobotoMono;
}
@media screen and (max-width: 1000px) {
    #mainPageBody{
        width: 100%;       
  }
}

.page-section{
    width: 100%;
 /* padding: 10px; */
 display: flex;
 flex-wrap: wrap;
 justify-content: center;

}

#cvNavHeadline{
    width: 100%;
     margin-top: 5px; 
     margin-bottom: 5px;
}
#cvNavBar{
    margin-left: 5px;
    display: flex;
    flex-wrap: wrap;    
}

.custom-a-tag{
    width: 25%;
    background-color:white;
    color: rebeccapurple;
    text-decoration: none;
    font-size:13px;   
}
.custom-a-tag:hover{  
    color: red;
    text-shadow: 0 0 10px yellow;
}

.card-style-01{
    width: 100%;
    padding: 20px;     
background-color: rgb(224, 224, 224);
margin-top: 25px;
}
.card-style-02{
    width: 100%;
    padding: 20px;   

background-color: rgb(243, 243, 243);
}
.cv-page-buttons{
    font-family: RobotoMono;
    background-color:rgb(10, 87, 0);
    color: white;
    margin-top: 5px;
    margin-left: 25%;   
    width: 50%;
    height: 50px;
    font-size: 30px;
    border-radius: 15px;
    border-color: rgba(192, 192, 192, 0.493);
    overflow: hidden;

}

.cv-page-buttons:hover{   
    background-color:rgb(20, 173, 0);   
    box-shadow: 0px 0px 30px green;
}
.cv-page-buttons:focus{   
   outline: none;
}

.source-code-button{   
    background-color:rgb(138, 148, 0);   
}

.source-code-button:hover{   
    background-color:rgb(194, 197, 1);   
    box-shadow: 0px 0px 30px rgb(229, 255, 0);
}

#headerBackground{
    width: 100%;
    height: 50px;
    background-image: url("PageAssets/Images/headerBackground2.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    
}


.anchored-background-image{
    height: 100px;
    border-radius: 15px;
    background-repeat: repeat;
    background-attachment: fixed;
}
.anchored-background-image-curtain{
    height: 100px;
    border-radius: 15px;
    background-color: rgba(206, 206, 206, 0.623);
    background-repeat: repeat;
    background-attachment: fixed;
}

#cvBackgroundImage{
    background-image: url("PageAssets/Images/cv.png");
    background-size: 100%;
}
#sourceCodeBackgroundImage{
    background-image: url("PageAssets/Images/codeEditor.png");
    background-size: 100%;
}

#weatherAppBackgroundImage{  
    background-image: url("PageAssets/Images/weatherApp.png"); 
    background-size: 100%;

}

#tanksBackgroundImage{  
    background-image: url("PageAssets/Images/tanks.gif"); 
    background-size: 100%;
}

#calculatorBackgroundImage{  
    background-image: url("PageAssets/Images/calculator.png"); 
    background-size: 100%;
}

#loginRegisterBackgroundImage{  
    background-image: url("PageAssets/Images/loginPage.png"); 
}

#morseCodeBackgroundImage{  
    background-image: url("PageAssets/Images/morseCodeConverter.png"); 
    background-size: 100%;
}

#farmBackgroundImage{  
    background-image: url("PageAssets/Images/farm.png"); 
    background-size: 100%;
}

#treasureGameBackgroundImage{  
    background-image: url("PageAssets/Images/treasureGame.png"); 
    background-size: 100%;
}








